  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles.css">
  <title>Not found - Mav3rik</title>
</head>
<body>

  <div class="container col-sm-7 col-md-5 d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-center">Covid-19 registration form</h1>
            <p class="text-center error-message">Page is not found</p>
      <a class="text-center" href="/">Back to the HOME</a>
  </div>

<%- include('../partials/footer.ejs') %>
<script src="/home.js"></script>
</body>
</html>