    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <title>Covid-19 registration form - Mav3rik</title>
</head>
<body>
    

    <%- include('../partials/footer.ejs') %>
</body>
</html>